---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/sections/Hero.astro';
import About from '../../components/sections/About.astro';
import Skills from '../../components/sections/Skills.astro';
import Experience from '../../components/sections/Experience.astro';

const lang = 'fi';
---

<Layout lang={lang}>
  <main>
    <Hero lang={lang} />
    <About lang={lang} />
    <Skills lang={lang} />
    <Experience lang={lang} />
  </main>
</Layout>
