---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Skills from '../components/sections/Skills.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';

const lang = 'en';
---

<Layout lang={lang}>
  <main>
    <Hero lang={lang} />
    <About lang={lang} />
    <Skills lang={lang} />
    <Experience lang={lang} />
    <Projects lang={lang} />
    <Contact lang={lang} />
  </main>
</Layout>
